{% include 'header.html' %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

{% if user.is_authenticated %}
<div class="home-container">
    <div>
        <h2>Filter</h2>
        {% for room in roomStatus %}
        <div>
            <a href="{% url 'home' %}?q={{room}}">{{room}}</a>
        </div>
            
        {% endfor %}
    </div>
    <div>
        {% if is_admin %}
        <a href="{% url 'course_form' %}">create course</a>
        {% endif %}
        <h1>{{q}} course</h1>

        {% for course in courses %}
        {% if user == course.teacher %}
            <label for=""><a href="{% url 'editCourse' course.id %}">edit</a></label>
            <label for=""><a href="{% url 'deleteCourse' course.id %}">delete</a></label>
        {% endif %}
        <h2><a href="{% url 'room' course.id %}">{{course.course_code}} {{course.course_name}}</a></h2>
        <small>{{course.teacher}}</small>

        <hr>
        {% endfor %}
    </div>
    
</div>

{% endif %}